USE [master]
GO
/****** Object:  Database [LibraryManagment]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE DATABASE [LibraryManagment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Users\NB\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Users\NB\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagment_0.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagment]
GO
/****** Object:  User [test]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Saranda]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE USER [Saranda] FOR LOGIN [Saranda] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Elvira]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE USER [Elvira] FOR LOGIN [Elvira] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Elmedina]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE USER [Elmedina] FOR LOGIN [Elmedina] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Eliona]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE USER [Eliona] FOR LOGIN [Eliona] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [LibrarianRole]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE ROLE [LibrarianRole]
GO
/****** Object:  DatabaseRole [AdministratorRole]    Script Date: 2/21/2025 11:54:33 AM ******/
CREATE ROLE [AdministratorRole]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [Saranda]
GO
ALTER ROLE [db_owner] ADD MEMBER [Elvira]
GO
ALTER ROLE [db_owner] ADD MEMBER [Elmedina]
GO
ALTER ROLE [db_owner] ADD MEMBER [Eliona]
GO
/****** Object:  UserDefinedFunction [dbo].[AverageLoansPerClient]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Funksioni për të marrë huazimet mesatare për klient
CREATE FUNCTION [dbo].[AverageLoansPerClient]() 
RETURNS DECIMAL(10,2) 
AS
BEGIN
    DECLARE @avg_loans DECIMAL(10,2);

    SELECT @avg_loans = CAST(COUNT(Loan_ID) AS DECIMAL(10,2)) / COUNT(DISTINCT Client_ID)
    FROM Loan;

    RETURN ISNULL(@avg_loans, 0.00);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[CalculatePenalty]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculatePenalty](@loan_id INT) 
RETURNS DECIMAL(10,2) 
AS
BEGIN
    DECLARE @due_date DATE;
    DECLARE @return_date DATE;
    DECLARE @days_late INT;
    DECLARE @penalty DECIMAL(10,2);

    -- Marrim datat nga tabela Loans
    SELECT @due_date = Return_Date, @return_date = Actual_Return_Date
    FROM Loans
    WHERE Loan_ID = @loan_id;

    -- Nëse libri është kthyer me vonesë, llogarit dënimin
    IF @return_date > @due_date
    BEGIN
        SET @days_late = DATEDIFF(DAY, @due_date, @return_date);
        SET @penalty = @days_late * 1.50; -- Supozojmë që dënimi është 1.50 për çdo ditë vonesë
    END
    ELSE
    BEGIN
        SET @penalty = 0.00;
    END

    RETURN @penalty;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetClientBalance]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Funksioni për të marrë balancin e pagesave për klientët
CREATE FUNCTION [dbo].[GetClientBalance](@client_id INT) 
RETURNS DECIMAL(10,2) 
AS
BEGIN
    DECLARE @total_payments DECIMAL(10,2);

    SELECT @total_payments = SUM(Amount)
    FROM Payment
    WHERE Client_ID = @client_id;

    RETURN ISNULL(@total_payments, 0.00);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[MostActiveClient]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Funksioni për të gjetur klientin me më shumë huazime
CREATE FUNCTION [dbo].[MostActiveClient]() 
RETURNS INT 
AS
BEGIN
    DECLARE @top_client INT;

    SELECT TOP 1 @top_client = Client_ID
    FROM Loan
    GROUP BY Client_ID
    ORDER BY COUNT(Loan_ID) DESC;

    RETURN @top_client;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[MostBorrowedBook]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Funksioni për të gjetur librin më të huazuar
CREATE FUNCTION [dbo].[MostBorrowedBook]() 
RETURNS INT 
AS
BEGIN
    DECLARE @top_book INT;

    SELECT TOP 1 @top_book = Material_ID
    FROM Loan
    GROUP BY Material_ID
    ORDER BY COUNT(Loan_ID) DESC;

    RETURN @top_book;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[TotalLateFees]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TotalLateFees]() 
RETURNS DECIMAL(10,2) 
AS
BEGIN
    DECLARE @total_fee DECIMAL(10,2);

    -- Llogarit shumën e të gjitha tarifave të vonesave
    SELECT @total_fee = SUM(Penalty_Fee)
    FROM Loan
    WHERE Penalty_Fee > 0;

    RETURN ISNULL(@total_fee, 0.00);
END;
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Client_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](100) NOT NULL,
	[Last_Name] [nvarchar](100) NOT NULL,
	[Date_of_Birth] [date] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Membership_Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Client_ID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Payment_Date] [date] NOT NULL,
	[Payment_Type] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Total_Payments_Details]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Total_Payments_Details] AS
SELECT 
    c.Client_ID,
    c.First_Name,
    c.Last_Name,
    p.Payment_ID,
    p.Amount,
    p.Payment_Date,
    p.Payment_Type
FROM Clients c
LEFT JOIN Payments p ON c.Client_ID = p.Client_ID;
GO
/****** Object:  Table [dbo].[Bibliographic_Materials]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliographic_Materials](
	[Material_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Author] [nvarchar](255) NOT NULL,
	[Co_Authors] [nvarchar](255) NULL,
	[Publisher] [nvarchar](255) NOT NULL,
	[Publication_Date] [date] NOT NULL,
	[ISBN] [varchar](20) NULL,
	[DOI] [varchar](50) NULL,
	[Material_Type] [nvarchar](50) NOT NULL,
	[Abstract] [text] NULL,
	[Available_Copies] [int] NOT NULL,
	[Date_Added] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Material_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[Loan_ID] [int] IDENTITY(1,1) NOT NULL,
	[Client_ID] [int] NOT NULL,
	[Material_ID] [int] NOT NULL,
	[Loan_Date] [date] NOT NULL,
	[Return_Date] [date] NOT NULL,
	[Actual_Return_Date] [date] NULL,
	[Penalty_Fee] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Loan_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Overdue_Loans]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Overdue_Loans] AS
SELECT
    l.Loan_ID,
    c.First_Name,
    c.Last_Name,
    bm.Title,
    l.Loan_Date,
    l.Return_Date,
    l.Actual_Return_Date,
	DATEDIFF(DAY, l.Return_Date, l.Actual_Return_Date) AS Days_Overdue,
    l.Penalty_Fee
FROM
    Loans l
JOIN 
    Clients c ON l.Client_ID = c.Client_ID
JOIN 
    Bibliographic_Materials bm ON l.Material_ID = bm.Material_ID
WHERE l.Actual_Return_Date > l.Return_Date;
GO
/****** Object:  View [dbo].[Active_Clients]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Active_Clients] AS
SELECT Client_ID, First_Name, Last_Name, Email, Phone, Address
FROM Clients
WHERE Membership_Active = 1;
GO
/****** Object:  View [dbo].[Materials_By_Type]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Materials_By_Type] AS
SELECT Material_Type, COUNT(Material_ID) AS Total_Materials
FROM Bibliographic_Materials
GROUP BY Material_Type;
GO
/****** Object:  View [dbo].[Available_Books]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Available_Books] AS
SELECT Material_ID, Title, Author, Publisher, Available_Copies
FROM Bibliographic_Materials
WHERE Material_Type = 'Book' AND Available_Copies > 0;
GO
/****** Object:  View [dbo].[Client_Loan_History]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Client_Loan_History] AS
SELECT 
    L.Loan_ID,
    C.Client_ID,
    C.First_Name,
    C.Last_Name,
    BM.Title AS Material_Title,
    L.Loan_Date,
    L.Return_Date,
    L.Actual_Return_Date,
    CASE 
        WHEN L.Actual_Return_Date IS NULL THEN 'Not Returned'
        WHEN L.Actual_Return_Date > L.Return_Date THEN 'Returned Late'
        ELSE 'Returned On Time'
    END AS Loan_Status
FROM Loans L
JOIN Clients C ON L.Client_ID = C.Client_ID
JOIN Bibliographic_Materials BM ON L.Material_ID = BM.Material_ID;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bibliographic_Materials] ON 

INSERT [dbo].[Bibliographic_Materials] ([Material_ID], [Title], [Author], [Co_Authors], [Publisher], [Publication_Date], [ISBN], [DOI], [Material_Type], [Abstract], [Available_Copies], [Date_Added]) VALUES (1, N'Introduction to Algorithms', N'Thomas H. Cormen', N'Charles E. Leiserson', N'Dukagjini', CAST(N'2025-02-17' AS Date), N'9780262033848', N'10.5555/9780262033848', N'Ebook', N'A comprehensive guide to algorithms.', 5, CAST(N'2025-02-12' AS Date))
INSERT [dbo].[Bibliographic_Materials] ([Material_ID], [Title], [Author], [Co_Authors], [Publisher], [Publication_Date], [ISBN], [DOI], [Material_Type], [Abstract], [Available_Copies], [Date_Added]) VALUES (2, N'Artificial Intelligence: A Modern Approach', N'Stuart Russell', N'Peter Norvig', N'Pearson', CAST(N'2020-04-01' AS Date), N'9780134610993', N'10.5555/9780134610993', N'Book', N'An in-depth introduction to AI.', 0, CAST(N'2025-02-12' AS Date))
INSERT [dbo].[Bibliographic_Materials] ([Material_ID], [Title], [Author], [Co_Authors], [Publisher], [Publication_Date], [ISBN], [DOI], [Material_Type], [Abstract], [Available_Copies], [Date_Added]) VALUES (3, N'Machine Learning Yearning', N'Andrew Ng', NULL, N'Self-Published', CAST(N'2018-05-01' AS Date), NULL, N'10.5555/self-publishedML', N'Ebook', N'Guidelines for machine learning projects.', 6, CAST(N'2025-02-12' AS Date))
SET IDENTITY_INSERT [dbo].[Bibliographic_Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Client_ID], [First_Name], [Last_Name], [Date_of_Birth], [Email], [Phone], [Address], [Membership_Active]) VALUES (1, N'elvira', N'Veseli', CAST(N'2025-02-17' AS Date), N'elvira.veseli12@gmail.com', N'12345654321`', N'asdfghgf', 1)
INSERT [dbo].[Clients] ([Client_ID], [First_Name], [Last_Name], [Date_of_Birth], [Email], [Phone], [Address], [Membership_Active]) VALUES (2, N'Alice', N'Veseli', CAST(N'2025-02-17' AS Date), N'elvira.veseliiii@gmail.com', N'4562345', N'sdfghjg', 1)
INSERT [dbo].[Clients] ([Client_ID], [First_Name], [Last_Name], [Date_of_Birth], [Email], [Phone], [Address], [Membership_Active]) VALUES (3, N'Robert', N'Brown', CAST(N'1978-11-30' AS Date), N'robert.brown@email.com', N'1112223333', N'789 Reading Ave', 1)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([Loan_ID], [Client_ID], [Material_ID], [Loan_Date], [Return_Date], [Actual_Return_Date], [Penalty_Fee]) VALUES (1, 1, 1, CAST(N'2024-11-10' AS Date), CAST(N'2025-03-01' AS Date), CAST(N'2024-11-15' AS Date), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Loans] ([Loan_ID], [Client_ID], [Material_ID], [Loan_Date], [Return_Date], [Actual_Return_Date], [Penalty_Fee]) VALUES (2, 2, 2, CAST(N'2024-12-15' AS Date), CAST(N'2025-03-10' AS Date), CAST(N'2024-12-20' AS Date), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Loans] ([Loan_ID], [Client_ID], [Material_ID], [Loan_Date], [Return_Date], [Actual_Return_Date], [Penalty_Fee]) VALUES (3, 3, 3, CAST(N'2025-01-20' AS Date), CAST(N'2025-03-15' AS Date), CAST(N'2025-02-20' AS Date), CAST(3.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Payment_ID], [Client_ID], [Amount], [Payment_Date], [Payment_Type]) VALUES (1, 1, CAST(2.50 AS Decimal(10, 2)), CAST(N'2025-02-01' AS Date), N'Monthly Subscription')
INSERT [dbo].[Payments] ([Payment_ID], [Client_ID], [Amount], [Payment_Date], [Payment_Type]) VALUES (2, 2, CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-02-05' AS Date), N'Late Return Fee')
INSERT [dbo].[Payments] ([Payment_ID], [Client_ID], [Amount], [Payment_Date], [Payment_Type]) VALUES (3, 3, CAST(1.25 AS Decimal(10, 2)), CAST(N'2025-02-10' AS Date), N'Annual Subscription')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [Username], [Password], [Role]) VALUES (1, N'admin1', N'AdminPass123', N'Administrator')
INSERT [dbo].[Users] ([User_ID], [Username], [Password], [Role]) VALUES (2, N'librarian1', N'LibrarianPass456', N'Librarian')
INSERT [dbo].[Users] ([User_ID], [Username], [Password], [Role]) VALUES (3, N'admin2', N'SecurePass789', N'Administrator')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__A9D1053435C88D90]    Script Date: 2/21/2025 11:54:34 AM ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E437998F71]    Script Date: 2/21/2025 11:54:34 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bibliographic_Materials] ADD  DEFAULT (getdate()) FOR [Date_Added]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [Membership_Active]
GO
ALTER TABLE [dbo].[Loans] ADD  DEFAULT (getdate()) FOR [Loan_Date]
GO
ALTER TABLE [dbo].[Loans] ADD  DEFAULT ((0)) FOR [Penalty_Fee]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [Payment_Date]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Clients] ([Client_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([Material_ID])
REFERENCES [dbo].[Bibliographic_Materials] ([Material_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Clients] ([Client_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bibliographic_Materials]  WITH CHECK ADD CHECK  (([Available_Copies]>=(0)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Librarian' OR [Role]='Administrator'))
GO
/****** Object:  StoredProcedure [dbo].[CalculateLateFee]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedura per llogaritjen e pageses per vonesen
CREATE PROCEDURE [dbo].[CalculateLateFee]
    @Loan_ID INT
AS
BEGIN
    DECLARE @Days_Late INT;
    DECLARE @Fee DECIMAL(10,2);
    
    SELECT @Days_Late = DATEDIFF(DAY, Return_Date, Actual_Return_Date)
    FROM Loans WHERE Loan_ID = @Loan_ID;
    
    IF @Days_Late > 0 
    BEGIN
        SET @Fee = @Days_Late * 1.50; -- 1.50 per dite vonese
        UPDATE Loans SET Penalty_Fee = @Fee WHERE Loan_ID = @Loan_ID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetClientsWithUnpaidFees]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedura per te gjetur klientet me vonesa te papaguara
CREATE PROCEDURE [dbo].[GetClientsWithUnpaidFees]
AS
BEGIN
    SELECT DISTINCT c.Client_ID, c.First_Name, c.Last_Name, SUM(l.Penalty_Fee) AS Total_Fee
    FROM Clients c
    JOIN Loans l ON c.Client_ID = l.Client_ID
    WHERE l.Penalty_Fee > 0
    GROUP BY c.Client_ID, c.First_Name, c.Last_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMaterialByISBN]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedura per te marre materialin sipas ISBN
CREATE PROCEDURE [dbo].[GetMaterialByISBN]
    @ISBN VARCHAR(20)
AS
BEGIN
    SELECT * FROM Materials WHERE ISBN = @ISBN;
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterClient]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedura per regjistrimin e nje klienti te ri
CREATE PROCEDURE [dbo].[RegisterClient]
    @First_Name VARCHAR(50),
    @Last_Name VARCHAR(50),
    @Date_of_Birth DATE,
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @Address VARCHAR(255)
AS
BEGIN
    INSERT INTO Clients (First_Name, Last_Name, Date_of_Birth, Email, Phone, Address, Membership_Active)
    VALUES (@First_Name, @Last_Name, @Date_of_Birth, @Email, @Phone, @Address, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterLoan]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedura per regjistrimin e nje huazimi
CREATE PROCEDURE [dbo].[RegisterLoan]
    @Client_ID INT,
    @Material_ID INT,
    @Loan_Date DATE,
    @Return_Date DATE
AS
BEGIN
    INSERT INTO Loans (Client_ID, Material_ID, Loan_Date, Return_Date, Actual_Return_Date, Penalty_Fee)
    VALUES (@Client_ID, @Material_ID, @Loan_Date, @Return_Date, NULL, 0.00);
    
    UPDATE Materials SET Available_Copies = Available_Copies - 1 WHERE Material_ID = @Material_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMembershipStatus]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedura per perditesimin e statusit te anetaresise se klientit
CREATE PROCEDURE [dbo].[UpdateMembershipStatus]
    @Client_ID INT,
    @Status INT
AS
BEGIN
    UPDATE Clients SET Membership_Active = @Status WHERE Client_ID = @Client_ID;
END
GO
/****** Object:  Trigger [dbo].[trg_Increase_Loan_Count]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Increase_Loan_Count]
ON [dbo].[Loans]
AFTER INSERT
AS
BEGIN
    DECLARE @Client_ID INT;
    DECLARE @Loan_Count INT;

    -- Get the Client_ID from the inserted loan
    SELECT @Client_ID = Client_ID FROM inserted;

    -- Count the number of loans for the client
    SELECT @Loan_Count = COUNT(*) FROM Loans WHERE Client_ID = @Client_ID;

    -- You can use @Loan_Count here, or for other logic
    -- For example, if needed, you can implement any logic that uses this count.
    -- As you can't add a column to store the count, you'll just rely on queries
    -- like this one when needed in reports or calculations.
    
    -- Example: Display the loan count for debugging or checking
    PRINT 'Client ' + CAST(@Client_ID AS VARCHAR) + ' has ' + CAST(@Loan_Count AS VARCHAR) + ' loans.';
END;
GO
ALTER TABLE [dbo].[Loans] ENABLE TRIGGER [trg_Increase_Loan_Count]
GO
/****** Object:  Trigger [dbo].[trg_PreventLoanIfNoCopies]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PreventLoanIfNoCopies]
ON [dbo].[Loans]
AFTER INSERT
AS
BEGIN
    -- Check if any of the inserted loans have 0 or less copies available
    IF EXISTS (
        SELECT 1 
        FROM inserted i
        JOIN Bibliographic_Materials bm ON i.Material_ID = bm.Material_ID
        WHERE bm.Available_Copies <= 0
    )
    BEGIN
        RAISERROR ('No copies available for loan.', 16, 1);
        ROLLBACK TRANSACTION;  -- Prevent the insert if no copies are available
    END;
END;
GO
ALTER TABLE [dbo].[Loans] ENABLE TRIGGER [trg_PreventLoanIfNoCopies]
GO
/****** Object:  Trigger [dbo].[trg_SetActualReturnDate]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SetActualReturnDate]
ON [dbo].[Loans]
AFTER UPDATE
AS
BEGIN
    UPDATE Loans
    SET Actual_Return_Date = GETDATE()
    WHERE Actual_Return_Date IS NULL AND Return_Date < GETDATE();
END;
GO
ALTER TABLE [dbo].[Loans] ENABLE TRIGGER [trg_SetActualReturnDate]
GO
/****** Object:  Trigger [dbo].[trg_Update_Available_Copies]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Update_Available_Copies]
ON [dbo].[Loans]
AFTER UPDATE
AS
BEGIN
    DECLARE @Material_ID INT;

    -- Get the material ID from the updated loan record
    SELECT @Material_ID = Material_ID FROM inserted;

    -- Check if the loan has been returned (Actual_Return_Date is not NULL)
    IF (SELECT Actual_Return_Date FROM inserted) IS NOT NULL
    BEGIN
        -- Update the Available_Copies of the material
        UPDATE Bibliographic_Materials
        SET Available_Copies = Available_Copies + 1
        WHERE Material_ID = @Material_ID;
    END
END;
GO
ALTER TABLE [dbo].[Loans] ENABLE TRIGGER [trg_Update_Available_Copies]
GO
/****** Object:  Trigger [dbo].[trg_UpdateLatePenalty]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateLatePenalty]
ON [dbo].[Loans]
AFTER UPDATE
AS
BEGIN
    UPDATE Loans
    SET Penalty_Fee = DATEDIFF(DAY, Return_Date, Actual_Return_Date) * 0.25
    WHERE Actual_Return_Date > Return_Date AND Penalty_Fee = 0;
END;
GO
ALTER TABLE [dbo].[Loans] ENABLE TRIGGER [trg_UpdateLatePenalty]
GO
/****** Object:  Trigger [dbo].[trg_VerifyMembershipStatus]    Script Date: 2/21/2025 11:54:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_VerifyMembershipStatus]
ON [dbo].[Payments]
AFTER INSERT
AS
BEGIN
    UPDATE Clients
    SET Membership_Active = 1
    WHERE Client_ID IN (SELECT Client_ID FROM inserted);
END;
GO
ALTER TABLE [dbo].[Payments] ENABLE TRIGGER [trg_VerifyMembershipStatus]
GO
USE [master]
GO
